.top-line {
    min-height: 412px;
    background: url("../img/headline\ 1.png") center no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    margin-bottom: 85px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: 700;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    font-size: 14px;
line-height: 16px;
color: #9A9A9A;
text-decoration: underline;
}


.page-content {
    background: #fff;
    color: #303030;
    padding: 49px 0px 90px 0px;
}

.service {
    display: flex;
    margin-top: 49px;
    margin-bottom: 70px;

}

.service__img {
    width: 30%;
    margin-right: 7%;
}

.service__content {
    flex: 1;

}

.service__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: #000;
    margin-bottom: 29px;
}

.service__desk {
    margin-bottom: 53px;
    line-height: 27px;
}

.btn--color--light {
    background: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
}

.btn--color--red {
    color: #fff;
}

.pager--theme--light {
    color: #000;

}

.pager--theme--light .pager__item--active .pager__link{
    color: #fff;
    background: #F5170E;
}

.inner-section {
    background: #F2F2F2;
    color: #1A1B1E;
    padding: 88px 0px;
}

.inner-section__title {
    font-size: 48px;
line-height: 56px;
font-weight: 700;
margin-bottom: 79px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 10px;
    
}


.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0%);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}







