@import url(./blooks/baze.css);
@import url(./blooks/header.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


.section {
    margin-bottom: 127px;
}

.section__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 51px;
}


.offers__item {
    min-height: 449px;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin-right: 22px;
    width: 362px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 144px;
    margin-bottom: 7px;
}

.offers__content {
    padding: 26px 22px;
}

.offers__title {
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.offers__feature {
    display: inline-block;
    display: flex;
    margin-bottom: 24px;
}

.offers__cntnt{
    display: inline-block;
    margin-left: 5px;
    display: flex;
}


.offers__feature-img {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    margin-top: 21px;
}

.offers__feature-text {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    color: #666;
    margin-top: 23px;
    line-height: 19px;
}

.offers__cntnt-left {
    margin-left: 28px;
}

.offers__text {
    font-weight: 400;
    font-size: 14px;
    color: #303030;
    margin-bottom: 43px;
}


.btn-light {
    background: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
    padding: 18px 29px 18px 30px;
}

.btn-red {
    padding: 18px 29px 18px 30px;
}

.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 48px;
}

.news__item-left {
    margin-left: 20px;
}

.news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 33px 25px;
    min-height: 112px;
}

.news__text--cntnt {
    padding: 52px 25px;
}

.news__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 18px;
}

.news__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 4px;
}

.news__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pager {
    text-align: center;
}

.pager__list {
    display: flex;
}

.pager__display,.pager__list {
    display: inline-block;
    vertical-align: middle;
}

.pager__display {
    margin-right: 25px;
}


.pager__item {
    display: inline-block;
    vertical-align: middle;

}

.pager__item--active .pager__link {
    background: #fff;
    color: #F5170E;
}


.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    line-height: 32px;
}


.about::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url("../img/gates.png") center center / cover no-repeat;
}

.about__desc {

    background: url("../img/mountains.png") center center / cover no-repeat;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: 785px;
    height: 445px;
    padding: 75px 81px;
    margin-top: 97px;
    margin-left: -136px;
    border-radius: 5px;
}


.about__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000;
    margin-bottom: 37px;
}

.about__desc-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #060606;
    margin-bottom: 43px;
}

.about__desc-text p {
    margin-bottom: 20px;
}

.about__desc-text p:last-child {
    margin-bottom: 0;
}

.footer-container--content {
    border-top: 1px solid #fff;
}

.footer {
    height: 146px;
    position: relative;
}

.socials {
    position: absolute;
    right: 265px ;
    top: 40px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;

}

.socials__item--telegram .socials__link {
    background: url("../img/telegram.png");
}

.socials__item--vk .socials__link {
    background: url("../img/vk.png");
}

.socials__item--faceboock .socials__link {
    background: url("../img/f.png");
}

.socials__item--inst .socials__link {
    background: url("../img/in.png");
}