.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 511px;
}

.container {
    margin: 0 auto;
    width: 1141px;
}


.header {
    padding-top: 27px;
    margin-bottom: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 124px;

}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;

}

.logo {
    display: block;
    margin-right: 79px;
    
}


.contacts {
    right: 2px;
}

.contacts__desc {
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}
 
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
}

.menu__link {
    font-weight: 400;
    font-size: 14px;
}

.contacts {
    font-style: normal;
    text-align: right;
}
.contacts__phone {
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 0;
}


.contacts__dropdown-title {
    font-weight: 400;
    font-size: 13px;
    text-decoration: underline;
}

.hero {
    margin-bottom: 246px;
}

.hero__text-section {
    width: 45%;
}

.hero__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.hero__subtitle {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 48px;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}