html {
	font-size: 16px;
}

body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	margin: 0;
	background: #001821;
	font-family: 'Open Sans', Helvetica, sans-serif;
	line-height: 1.42;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.main-page-wrapper {
	background: url("../../img/1.png") center top no-repeat, url("../../img/2.png") center bottom 165px no-repeat;
}

