.header {
    height: 120px;
    position: relative;
    margin-bottom: 132px;
}















.header {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header{
	flex: 1;
	position: relative;
}


.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1141px;
}

.logo, .menu, .menu__item, .contacts {
	display: inline-block;
}

.logo, .contacts {
	margin-top: 29px;
	float: left;
}

.contacts{
	float: right;
    font-style: normal;

}

.menu {
	margin-left: 79px;
	margin-top: 43px;
}

.menu__item {
	margin-right: 54px;
}

.menu__item:last-child {
	margin-right: 0px;
}

.contacts__phone {
	font-size: 26px;
	line-height: 20px;
	font-style: normal;
}


.menu {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400; 
    font-size: 14px;
    line-height: 16px;

}

.contacts__phone {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.contacts__info {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration-line: underline;

}