.container {
    margin: 0 auto;
    width: 1141px;
}


.header {
    height: 124px;
    position: relative;
    margin-bottom: 71px;

}

.logo {
    display: block;
    position: absolute;
    top: 29px;
    left: 0;
}

.menu {
    position: absolute;
    top: 38px;
    left: 160px;
}

.contacts {
    position: absolute;
    top: 27px;
    right: 2px;
}

.contacts__desc {
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}
 
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
}

.menu__link {
    font-weight: 400;
    font-size: 14px;
}

.contacts {
    font-style: normal;
    text-align: right;
}
.contacts__phone {
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 0;
}


.contacts__dropdown-title {
    font-weight: 400;
    font-size: 13px;
    text-decoration: underline;
}

.hero__text-section {
    width: 511px;
    margin-bottom: 260px;
}

.hero__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.hero__subtitle {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 48px;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}